:host {
    position: relative;
}

.palette {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.palette-item {
    cursor: grab;
    width: 100%;
    background-color: white;
    border: 1px solid blue;
}

.canva-item {
    display: flex;
    cursor: grab;
    width: 160px;
    height: 60px;
    background-color: white;
    border: 1px solid blue;
    align-items: center;
    justify-content: center;
}

.btn-delete {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    border: solid red 1px;
    height: 20px;
    color: red;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}